
# Dental Health Prediction Data Wrangling

In [6]:
import numpy as np 
import pandas as pd 
import seaborn as sns
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
from scipy import stats

### Load and clean Literacy data

In [7]:
literacy = pd.read_csv('adultliteracy.csv')
display(literacy)
literacy.rename(index = str, columns={'Adult..15...literacy.rate......Total':'Country'}, inplace=True)
literacy.dropna(how='all', subset = list(literacy.columns)[1:], inplace=True)
literacy['literacy_avg'] = literacy[list(literacy.columns)[1:30]].mean(axis=1,skipna = True)
literacy.drop(list(literacy.columns)[1:literacy.shape[1]-1], axis = 1, inplace = True)
literacy.dropna(how='any', subset = list(literacy.columns)[1:], inplace=True)

print(literacy.head())
print(literacy.describe())

,Adult..15...literacy.rate......Total,X1975,X1976,X1977,X1978,X1979,X1980,X1981,X1982,X1983,...,X2002,X2003,X2004,X2005,X2006,X2007,X2008,X2009,X2010,X2011
0,Afghanistan,NaN,NaN,NaN,NaN,18.157681,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.000000
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,95.938640,NaN,NaN,96.845299
2,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,69.873500,NaN,NaN,NaN,72.648679,NaN,NaN,NaN,NaN,NaN
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.362420
5,Anguilla,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Antigua and Barbuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.950000
7,Argentina,NaN,NaN,NaN,NaN,NaN,93.912860,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.858770
8,Armenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99.568170
9,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.822640,NaN
10,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Austria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Azerbaijan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,99.601906,NaN,99.759841,NaN,NaN
13,Bahamas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Bahrain,NaN,NaN,NaN,NaN,NaN,NaN,69.753514,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.556792,NaN
15,Bangladesh,NaN,NaN,NaN,NaN,NaN,NaN,29.227233,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.734790
16,Barbados,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Belarus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99.617061,NaN,NaN
18,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Belize,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Benin,NaN,NaN,NaN,NaN,16.482794,NaN,NaN,NaN,NaN,...,34.657847,NaN,NaN,NaN,28.702111,NaN,NaN,NaN,NaN,NaN
21,Bermuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Bhutan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,52.814691,NaN,NaN,NaN,NaN,NaN,NaN
23,Bolivia,NaN,63.208149,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,90.743470,90.698106,91.167825,NaN,NaN
24,Bosnia and Herzegovina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.002620
25,Botswana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,81.18871,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85.090850
26,Brazil,NaN,NaN,NaN,NaN,NaN,74.586728,NaN,NaN,NaN,...,NaN,NaN,88.616243,NaN,89.615227,90.009370,90.036620,90.298210,90.379177,NaN
27,British Virgin Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Brunei,NaN,NaN,NaN,NaN,NaN,NaN,77.834212,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95.447000
29,Bulgaria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.352448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232,New Caledonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
233,Ngorno-Karabakh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
234,Norfolk Island,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
235,Northern Cyprus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
236,Northern Mariana Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
237,Pitcairn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
238,Reunion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239,Saint Barthélemy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
240,Saint Helena,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
241,Saint Martin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242,Saint-Pierre-et-Miquelon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243,Serbia and Montenegro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,Serbia excluding Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
245,Somaliland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246,South Ossetia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
247,South Sudan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248,Svalbard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
249,Taiwan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
250,Transnistria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
251,USSR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252,Wallis et Futuna,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
253,West Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,Western Sahara,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255,Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
256,Yemen Arab Republic (Former),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
257,Yemen Democratic (Former),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
258,Yugoslavia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
259,Åland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

       Country  literacy_avg
0  Afghanistan     18.157681
1      Albania     98.712978
2      Algeria     59.752193
4       Angola     67.405416
5     Anguilla     95.407098
       literacy_avg
count    147.000000
mean      73.945211
std       23.471539
min        9.391331
25%       60.319077
50%       80.105363
75%       94.873104
max       99.746818

### Load and clean dental records

In [8]:
badteeth = pd.read_csv('badteeth.csv')
badteeth.drop(['NA..1', 'NA..2', 'NA..3'], axis = 1, inplace = True)
badteeth.dropna(inplace = True)
badteeth.rename(columns = {'NA.':'Country', 'X2004':'badteeth'}, inplace=True)
print(badteeth.head())
print(badteeth.describe())

       Country  badteeth
0  Afghanistan      2.90
1      Albania      3.02
2      Algeria      2.30
3       Angola      1.70
4     Anguilla      2.50
         badteeth
count  190.000000
mean     2.132947
std      1.292823
min      0.200000
25%      1.142500
50%      1.800000
75%      2.975000
max      6.300000

### Load and clean GDP info

In [9]:
GDP = pd.read_csv('gdp.csv')
GDP.rename(index = str, columns={'Income.per.person..fixed.2000.US..':'Country'}, inplace=True)
GDP.dropna(how="all", subset = list(GDP.columns)[1:], inplace=True)
GDP['GDP_avg'] = GDP[list(GDP.columns)[1:44]].mean(axis=1,skipna = True)
GDP.drop(list(GDP.columns)[1:GDP.shape[1]-1], axis = 1, inplace = True)
print(GDP.head())
print(GDP.describe())

               Country       GDP_avg
3              Albania   1011.752695
4              Algeria   1625.140989
6              Andorra  16623.189750
7               Angola    318.739949
9  Antigua and Barbuda   7874.822798
            GDP_avg
count    200.000000
mean    6051.864501
std     9577.248902
min      124.949106
25%      565.390304
50%     1719.609992
75%     6775.361786
max    65922.599960

### Load and clean Health Expenditure data

In [10]:
healthexp = pd.read_csv('healthexpend.csv')
healthexp.rename(columns = {'Per.capita.government.expenditure.on.health.at.average.exchange.rate..US..':'Country'}, inplace = True)
healthexp.dropna(how='all', subset = list(healthexp.columns)[1:], inplace=True) 
healthexp['health_avg'] = healthexp[list(healthexp.columns)[1:10]].mean(axis=1,skipna = True)
healthexp.drop(list(healthexp.columns)[1:healthexp.shape[1]-1], axis = 1, inplace = True)
print(healthexp.tail())
print(healthexp.describe())

       Country  health_avg
246  Venezuela   76.519263
250    Vietnam    6.336942
254      Yemen   12.509311
256     Zambia   13.064692
257   Zimbabwe   27.343722
        health_avg
count   192.000000
mean    327.700596
std     620.587169
min       0.372222
25%      12.450760
50%      65.954780
75%     267.774253
max    2890.305843

### Load and clean Sugar Consumption info

In [11]:
sugar = pd.read_csv('sugar_consumption.csv')
sugar.rename(columns = {'NA.':'Country'}, inplace = True)
sugar.dropna(how='all', subset = list(sugar.columns)[1:], inplace=True)
sugar['sugar_avg'] = sugar[list(sugar.columns)[1:]].mean(axis=1,skipna = True)
sugar.drop(list(sugar.columns)[1:sugar.shape[1]-1], axis = 1, inplace = True)
print(sugar.head())
print(sugar.describe())

                Country   sugar_avg
3               Albania   49.504318
4               Algeria   67.995227
7                Angola   33.129091
9   Antigua and Barbuda   98.443182
10            Argentina  111.458182
        sugar_avg
count  179.000000
mean    74.313813
std     42.231186
min      2.677727
25%     37.234187
50%     80.135909
75%    108.406818
max    165.130455

### Load and clean Water Sanitation info

In [12]:
cleanwater = pd.read_csv('cleanwater.csv')
cleanwater.rename(columns = {'Unnamed: 0':'Country'}, inplace = True)
cleanwater.set_index('Country')
cleanwater.dropna(how='all', subset = list(cleanwater.columns)[1:], inplace=True)
cleanwater=cleanwater.iloc[2:, :]

cleanwater['2004'] = pd.to_numeric(cleanwater['2004'])
cleanwater['2003'] = pd.to_numeric(cleanwater['2003'])
cleanwater['2002'] = pd.to_numeric(cleanwater['2002'])
cleanwater['2001'] = pd.to_numeric(cleanwater['2001'])
cleanwater['2000'] = pd.to_numeric(cleanwater['2000'])
cleanwater['water_avg'] = cleanwater.mean(numeric_only=True, axis=1)
cleanwater.drop(list(cleanwater.columns)[1:cleanwater.shape[1]-1], axis = 1, inplace = True)
print(cleanwater.head())
print(cleanwater.describe())

       Country  water_avg
2  Afghanistan       30.2
3      Albania       88.0
4      Algeria       90.4
5      Andorra      100.0
6       Angola       38.4
        water_avg
count  188.000000
mean    81.165603
std     21.293685
min     17.000000
25%     68.550000
50%     89.500000
75%     98.050000
max    100.000000

### Merge all data and view basic correlations

In [13]:
demographics = badteeth.merge(literacy,on='Country', how = 'inner').merge(cleanwater,on='Country', how = 'inner').merge(GDP,on='Country', how = 'inner').merge(sugar,on='Country', how = 'inner').merge(healthexp,on='Country', how = 'inner')
demographics.to_csv('demographics.csv')
dem_corr = demographics.corr(method = 'spearman')
dem_corr

,badteeth,literacy_avg,water_avg,GDP_avg,sugar_avg,health_avg
badteeth,1.000000,0.398946,0.381893,0.334037,0.359917,0.300593
literacy_avg,0.398946,1.000000,0.624686,0.570191,0.492863,0.580152
water_avg,0.381893,0.624686,1.000000,0.816844,0.663778,0.822054
GDP_avg,0.334037,0.570191,0.816844,1.000000,0.775405,0.946196
sugar_avg,0.359917,0.492863,0.663778,0.775405,1.000000,0.755521
health_avg,0.300593,0.580152,0.822054,0.946196,0.755521,1.000000

### Load and clean Adolescent Birthrate info

In [14]:
ad_birthrate = pd.read_csv('ad_birthrate.csv')
ad_birthrate.set_index('Country')
ad_birthrate = ad_birthrate.drop('Year', 1)
ad_birthrate.rename(columns = {'Adolescent birth rate (per 1000 women aged 15-19 years)':'Adolescent birth rate'}, inplace = True)
print(ad_birthrate.head())
print(ad_birthrate.info())

       Country  Adolescent birth rate
0  Afghanistan                   51.9
1      Albania                   19.7
2      Algeria                   12.4
3      Andorra                    4.4
4       Angola                  190.9
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 2 columns):
Country                  193 non-null object
Adolescent birth rate    193 non-null float64
dtypes: float64(1), object(1)
memory usage: 3.1+ KB
None

### Load and clean Low BMI rate in children info

In [15]:
low_bmi = pd.read_csv('lowbmi.csv')
low_bmi = low_bmi.iloc[3:, :]
low_bmi.rename(columns = {'Unnamed: 0':'Country'}, inplace = True)
low_bmi.set_index('Country')
#low_bmi.dropna(inplace = True)
low_bmi['Low_BMI'] = low_bmi['2004'].astype(str).str[:4]
low_bmi['Low_BMI'] = low_bmi['Low_BMI'].str.replace('\s+', '')
low_bmi = low_bmi[low_bmi.Low_BMI.str.contains("Nod") == False]
low_bmi['Low_BMI'] = low_bmi.Low_BMI.astype(float)


low_bmi.drop(['2004'], axis = 1, inplace = True)
print(low_bmi.head())
print(low_bmi.info())

       Country  Low_BMI
3  Afghanistan     19.8
4      Albania      1.9
5      Algeria      6.2
6      Andorra      0.7
7       Angola     10.3
<class 'pandas.core.frame.DataFrame'>
Int64Index: 191 entries, 3 to 197
Data columns (total 2 columns):
Country    191 non-null object
Low_BMI    191 non-null float64
dtypes: float64(1), object(1)
memory usage: 4.5+ KB
None

### Load and clean Youth Tobacco Use (general tobacco vs. smoking) info

In [16]:
tobacco = pd.read_csv('tobacco.csv')
tobacco.drop(tobacco.index[:1], inplace=True)
tobacco.rename(columns = {'Unnamed: 0':'Country', 'Youth indicator 1 rate' : 'Tobacco_Use', 'Youth indicator 2 rate' : 'Smokers'}, inplace = True)
tobacco.set_index('Country')
tobacco.dropna(inplace = True)
tobacco = tobacco[tobacco.Tobacco_Use.str.contains("Not") == False]
tobacco['Tobacco_Use'] = tobacco.Tobacco_Use.astype(float)
tobacco['Smokers'] = tobacco.Smokers.astype(float)
print(tobacco.head())
print(tobacco.info())

               Country  Tobacco_Use  Smokers
1          Afghanistan          8.6      2.5
2              Albania         11.8     11.5
3              Algeria          9.0      5.7
4               Angola         19.8      2.3
5  Antigua and Barbuda         11.9      7.4
<class 'pandas.core.frame.DataFrame'>
Int64Index: 144 entries, 1 to 189
Data columns (total 3 columns):
Country        144 non-null object
Tobacco_Use    144 non-null float64
Smokers        144 non-null float64
dtypes: float64(2), object(1)
memory usage: 4.5+ KB
None

In [17]:
demographics2 = demographics.merge(low_bmi, on='Country', how = 'inner').merge(ad_birthrate, on='Country', how = 'inner').merge(tobacco, on='Country', how = 'inner')
print(demographics2.head())
print(demographics2.info())
print(demographics2.describe())

demographics2.to_csv('demographics2.csv')

dem_corr2 = demographics2.corr(method = 'pearson')
dem_corr2

               Country  badteeth  literacy_avg  water_avg      GDP_avg  \
0              Albania      3.02     98.712978       88.0  1011.752695
1              Algeria      2.30     59.752193       90.4  1625.140989
2               Angola      1.70     67.405416       38.4   318.739949
3  Antigua and Barbuda      0.70     98.950000       98.0  7874.822798
4              Belarus      2.70     98.737052       98.0  1196.023043

    sugar_avg  health_avg  Low_BMI  Adolescent birth rate  Tobacco_Use  \
0   49.504318   24.751387      1.9                   19.7         11.8
1   67.995227   50.424490      6.2                   12.4          9.0
2   33.129091   12.275108     10.3                  190.9         19.8
3   98.443182  259.996606      3.5                   66.8         11.9
4  100.526923   64.079201      2.5                   21.6         26.9

   Smokers
0     11.5
1      5.7
2      2.3
3      7.4
4     26.5
<class 'pandas.core.frame.DataFrame'>
Int64Index: 78 entries, 0 to 77
Data columns (total 11 columns):
Country                  78 non-null object
badteeth                 78 non-null float64
literacy_avg             78 non-null float64
water_avg                78 non-null float64
GDP_avg                  78 non-null float64
sugar_avg                78 non-null float64
health_avg               78 non-null float64
Low_BMI                  78 non-null float64
Adolescent birth rate    78 non-null float64
Tobacco_Use              78 non-null float64
Smokers                  78 non-null float64
dtypes: float64(10), object(1)
memory usage: 7.3+ KB
None
        badteeth  literacy_avg   water_avg       GDP_avg   sugar_avg  \
count  78.000000     78.000000   78.000000     78.000000   78.000000
mean    1.980769     71.209997   76.176923   2066.672359   64.343618
std     1.254532     25.017850   21.353888   3085.329909   39.388022
min     0.300000      9.391331   19.800000    124.949106    2.677727
25%     1.062500     53.674316   56.850000    339.177720   31.361503
50%     1.625000     77.373622   81.200000   1027.550319   63.697727
75%     2.700000     94.933728   94.250000   2634.188597   96.263636
max     5.900000     99.652349  100.000000  20102.283588  156.538636

       health_avg    Low_BMI  Adolescent birth rate  Tobacco_Use    Smokers
count   78.000000  78.000000              78.000000    78.000000  78.000000
mean    85.365049   6.794872              65.862821    15.834615   9.725641
std    135.642289   5.098380              47.866213     8.102875   7.439495
min      1.930402   0.200000               4.200000     2.200000   0.200000
25%      7.437916   2.650000              28.325000    10.900000   4.425000
50%     28.286457   6.300000              57.000000    14.600000   7.600000
75%     96.897977   9.750000              90.250000    19.775000  13.600000
max    670.558719  27.700000             206.000000    41.000000  33.800000

,badteeth,literacy_avg,water_avg,GDP_avg,sugar_avg,health_avg,Low_BMI,Adolescent birth rate,Tobacco_Use,Smokers
badteeth,1.000000,0.325372,0.401619,0.213518,0.320137,0.167307,-0.251279,-0.299398,0.173012,0.363074
literacy_avg,0.325372,1.000000,0.636242,0.340530,0.557734,0.417457,-0.527774,-0.567905,0.170547,0.440038
water_avg,0.401619,0.636242,1.000000,0.514874,0.702112,0.528664,-0.383963,-0.752723,0.175181,0.479703
GDP_avg,0.213518,0.340530,0.514874,1.000000,0.430608,0.830989,-0.332287,-0.411018,0.118022,0.328629
sugar_avg,0.320137,0.557734,0.702112,0.430608,1.000000,0.404256,-0.375937,-0.472294,0.287263,0.527458
health_avg,0.167307,0.417457,0.528664,0.830989,0.404256,1.000000,-0.384411,-0.415634,0.173532,0.421346
Low_BMI,-0.251279,-0.527774,-0.383963,-0.332287,-0.375937,-0.384411,1.000000,0.253361,-0.101926,-0.434536
Adolescent birth rate,-0.299398,-0.567905,-0.752723,-0.411018,-0.472294,-0.415634,0.253361,1.000000,-0.042804,-0.331288
Tobacco_Use,0.173012,0.170547,0.175181,0.118022,0.287263,0.173532,-0.101926,-0.042804,1.000000,0.713721
Smokers,0.363074,0.440038,0.479703,0.328629,0.527458,0.421346,-0.434536,-0.331288,0.713721,1.000000